/* Reset Styles */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Host Grotesk", sans-serif;
}

/* Common Styles */

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.common-btn {
  background-color: #e8ba2e;
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* Navbar Styles Start */

.navbar-root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 20px 0;
}

.navbar-left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.navbar-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar-logo img {
  display: block;
}

.navbar-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 32px;
}

.navbar-menu li {
  list-style: none;
}

.navbar-menu li a {
  text-decoration: none;
  color: #555;
  font-size: 14px;
}

.navbar-btn {
  border-radius: 8px;
  gap: 8px;
  padding: 12px 18px;
  font-weight: 600;
  transition: 0.3s;
}

.navbar-btn:hover {
  background-color: #d9b42c;
}

/* Navbar Styles End */

/* Header/Hero Styles Start */

.hero-root {
  background-image: url("./images/Background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  min-height: 650px;
  display: flex;
  align-items: center;
}

.hero-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  padding-left: 37px;
  max-width: 420px;
  transform: translateY(60px);
}

.hero-title {
  color: white;
  text-align: left;
}

.hero-title h1 {
  font-weight: 700;
  font-size: 4.5rem;
  line-height: 1;
  margin-bottom: 18px;
}

.hero-title p {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.6;
}

.hero-btn {
  padding: 13px 16px;
  border-radius: 8px;
  gap: 7px;
  font-size: 14px;
  font-weight: 600;
}

/* Header/Hero Section Styles End */

/* Stats Styles Start */

.stats-root {
  background-color: #f4c430;
  margin-top: 15px;
}

.stats-main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  padding: 35px;
}

.stats-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  max-width: 300px;
}

.stats-box p {
  font-weight: 300;
  font-size: 14px;
}

.stats-box h2 {
  font-weight: 700;
  font-size: 4rem;
}

/* Stats Styles End */

/* Host Cities Styles Start */

.host-cities-root {
  padding: 70px;
}

.host-cities-title {
  text-align: center;
  margin-bottom: 38px;
}

.host-cities-title h2 {
  font-weight: 700;
  font-size: 3rem;
}

.host-cities-cards {
  display: grid;
  gap: 40px;
}

.host-cities-box {
  display: flex;
  gap: 20px;
}

.host-cities-box img {
  width: 350px;
  height: 250px;
  object-fit: cover;
  display: block;
  border-radius: 12px;
}

.host-cities-info {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.host-cities-info h3 {
  font-weight: 600;
  font-size: 1.8rem;
}

.host-cities-info p,
ul li {
  font-weight: 300;
  font-size: 14px;
  color: #555;
}

.host-cities-info ul {
  padding-left: 18px;
}

.host-cities-btn-parent {
  text-align: center;
  margin-top: 38px;
}

.host-cities-btn {
  background-color: #f4c430;
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 15px 18px;
  border-radius: 8px;
  gap: 6px;
  font-size: 14px;
  font-weight: 600;
}

/* Host Cities Styles End */